# For more options and information see
# http://rptl.io/configtxt
# Some settings may impact device functionality. See link above for details

# Uncomment some or all of these to enable the optional hardware interfaces
#dtparam=i2c_arm=on
#dtparam=i2s=on
#dtparam=spi=on

# Disable Bluetooth to save power and reduce interference
dtoverlay=disable-bt

# Disable onboard audio processing
dtparam=audio=off

# Disable automatic detection of Camera and Display (CSI/DSI) ports
camera_auto_detect=0
display_auto_detect=0

# Disable HDMI output and ignore display hotplugging to save energy
hdmi_ignore_hotplug=1
hdmi_blanking=2

# Additional overlays and parameters are documented
# /boot/firmware/overlays/README

# Automatically load initramfs files, if found
auto_initramfs=1

# Don't have the firmware create an initial video= setting in cmdline.txt.
# Use the kernel's default instead.
disable_fw_kms_setup=1

# Allocate minimum memory to the GPU to maximize RAM available for k3s nodes
gpu_mem=16

# CPU and Architecture
arm_64bit={{ rpi_arm_64bit }}
arm_boost={{ rpi_arm_boost }}

# Fan control settings
dtparam=fan_temp0={{ rpi_fan_temp0 }}
dtparam=fan_temp0_hyst={{ rpi_fan_temp0_hyst }}
dtparam=fan_temp1={{ rpi_fan_temp1 }}
dtparam=fan_temp1_hyst={{ rpi_fan_temp1_hyst }}

# Disable compensation for displays with overscan
disable_overscan=1

[cm4]
# Enable host mode on the 2711 built-in XHCI USB controller.
# This line should be removed if the legacy DWC2 controller is required
# (e.g. for USB device mode) or if USB support is not required.
otg_mode={{ rpi_cm4_otg_mode }}

[cm5]
dtoverlay=dwc2,dr_mode=host