.DS_Store
.AppleDouble
.LSOverride
._*
Icon?
.Spotlight-V100
.Trashes
*.retry
*.retry.json
*.log
.ansible/
ansible.log
**pycache**/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
*.swp
*.swo
*~
