image:
  repository: otel/opentelemetry-collector-contrib

mode: deployment
replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch:
      timeout: 1s
      send_batch_size: 256
    memory_limiter:
      check_interval: 1s
      limit_percentage: 80
      spike_limit_percentage: 20

  exporters:
    otlp/tempo:
      endpoint: "tempo.{{ prometheus_namespace }}.svc.cluster.local:4317"
      tls:
        insecure: true
    debug:
      verbosity: basic

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [otlp/tempo, debug]
