image:
  tag: "{{ traefik_image_tag }}"

{% if traefik_node_tier is defined and traefik_node_tier %}
nodeSelector:
  node-tier: "{{ traefik_node_tier }}"
{% endif %}

tolerations:
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

ports:
  traefik:
    expose:
      default: true

ingressClass:
  enabled: {{ traefik_ingress_class_enabled | lower }}
  isDefaultClass: {{ traefik_ingress_class_is_default | lower }}

ingressRoute:
  dashboard:
    enabled: {{ traefik_dashboard_enabled | lower }}

