# K9s Plugins Configuration
plugins:
  # View pod logs using stern
  stern:
    shortCut: Ctrl-L
    confirm: false
    description: Logs (stern)
    scopes:
      - pods
    command: stern
    background: false
    args:
      - $FILTER
      - -n
      - $NAMESPACE
      - --context
      - $CONTEXT
