apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: "{{ argocd_namespace }}"
  annotations:
    argocd.argoproj.io/sync-wave-health: all
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  project: default
  source:
    repoURL: "{{ argocd_gitops_repo_url }}"
    targetRevision: "{{ argocd_gitops_repo_revision }}"
    path: "{{ argocd_gitops_repo_path }}"
    directory:
      recurse: false
      include: '{*/app*.yaml,namespaces/*.yaml}'
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: "{{ argocd_namespace }}"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - SkipDryRunOnMissingResource=true
