# For more options and information see
# http://rptl.io/configtxt
# Some settings may impact device functionality. See link above for details

# Uncomment some or all of these to enable the optional hardware interfaces
#dtparam=i2c_arm=on
#dtparam=i2s=on
#dtparam=spi=on

# Enable audio (loads snd_bcm2835)
dtparam=audio=on

# Additional overlays and parameters are documented
# /boot/firmware/overlays/README

# Automatically load overlays for detected cameras
camera_auto_detect=1

# Automatically load overlays for detected DSI displays
display_auto_detect=1

# Automatically load initramfs files, if found
auto_initramfs=1

# Enable DRM VC4 V3D driver
dtoverlay=vc4-kms-v3d
max_framebuffers=2
# disable_fw_kms_setup=1
# disable_overscan=1

# Don't have the firmware create an initial video= setting in cmdline.txt.
# Use the kernel's default instead.
disable_fw_kms_setup=1

# Run in 64-bit mode
arm_64bit=1

# CPU and Architecture
arm_64bit={{ rpi_arm_64bit }}
arm_boost={{ rpi_arm_boost }}

# Fan control settings
dtparam=fan_temp0={{ rpi_fan_temp0 }}
dtparam=fan_temp0_hyst={{ rpi_fan_temp0_hyst }}
dtparam=fan_temp1={{ rpi_fan_temp1 }}
dtparam=fan_temp1_hyst={{ rpi_fan_temp1_hyst }}

{% if fan | int == 2 %}
# Second fan on GPIO 14 (Sync with main fan at 35°C)
dtoverlay=gpio-fan,gpiopin=14,temp=35000
{% endif %}

# Disable compensation for displays with overscan
disable_overscan=1

# Run as fast as firmware / board allows
arm_boost=1

[cm4]
# Enable host mode on the 2711 built-in XHCI USB controller.
# This line should be removed if the legacy DWC2 controller is required
# (e.g. for USB device mode) or if USB support is not required.
otg_mode={{ rpi_cm4_otg_mode }}

[cm5]
dtoverlay=dwc2,dr_mode=host